header {
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    list-style: none;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
}
.hero {
    background: url(../images/hero.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}